<%= form_with(model: @article, url: articles_path, method: :post) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
  
    <div>
      <%= form.submit "Delete Article" %>
    </div>
    <%= link_to "Destroy this article", @article, method: :delete %>
  <% end %>
  