<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Published At
    </tr>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.content %></td>
        <td><%= news.published_at %></td>
      </tr>
    <% end %>
   
  </table>
</div>

<%= link_to "New Newspaper", new_news_path %>



